extends base

block head
  title #{blogger.username}'s blog

block content
  .blog-page
    h1 #{blogger.username}'s blog
    - each post in posts
      div.post
        div.contents
          != markdown(post.contents)
        div.created
          span #{timeago(post.created)}