extends base

block head
  title Reverie
  script(type='text/javascript', src='/js/main.js')

block content
  h1.header.logo Why use Reverie? Because Reverie is fucking awesome.
  if user
    h2 Logged in as #{user.username}
  else
    div
      a(href='/register') Register
      span &nbsp;or&nbsp;
      a(href='/login') Login